$container-color: #d5e7ff;
$form-color: #c6defe;
$card-bord-rad: 10px;

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

main { 
    background-color: $container-color;
    padding: 15px;
    width: 65%;
    min-width: 320px;
    height: 50%;
    min-height: 568px;
    border-radius: $card-bord-rad;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 5px;

    @media screen and (min-width: 1800px) {
        width: 50%;
    }
}

header {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
}

.form-map {
    grid-column: 8 / 13;
    grid-row: 1 / 13;
    border-radius: 2px $card-bord-rad $card-bord-rad 2px ;
    background-color: $form-color;

    @media screen and (min-width: 1800px) {
        grid-column: 9 / 13
    }
}
.loc-search {
    grid-column: 8 / 13;
    grid-row: 1 / 2;
    z-index: 1;
}

.weather-map {
    grid-column: 8 / 13;
    grid-row: 2 / 13;
    z-index: 1;

    .map {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2px 2px $card-bord-rad 2px ;

    }
}


.welcome-msg {
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    text-align: center;
}


.weather {
    display: inherit;
    grid-column: 1 / 8;
    grid-row: 1 / 13;

    p, h3, h4 {
        margin: 0;
        padding: 0;
    }

    .city-displayed {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        margin: 0;
    }

    .time-h, .time-d {
        grid-row: 1 / 2;
    }
    .time-h {
        grid-column: 3 / 4;
    }
    .time-d {
        grid-column: 4 / 5;
    }

    .sun-r-h, .sun-r-d, .sun-s-h, .sun-s-d {
        grid-row: 2 / 3;
    }
    .sun-r-h {
        grid-column: 3 / 4;
    }
    .sun-r-d {
        grid-column: 4 / 5;
    }
    .sun-s-h {
        grid-column: 5 / 6;
    }
    .sun-s-d {
        grid-column: 6 / 7;
    }
}

.conditions {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1 / 7;
    grid-row: 4 / 13;

    h4, p {
        margin: 0;
        padding: 0;

    }

    .cond {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .current-temp-h, .current-temp-d, .feels-like-h, .feels-like-d {
        grid-row: 2 / 3;
    }
    .current-temp-h {
        grid-column: 1 / 3;
    }
    .current-temp-d {
        grid-column: 3 / 5;
    }
    .feels-like-h {
        grid-column: 5 / 7;
    }
    .feels-like-d {
        grid-column: 7 / 9;
    }

    .min-max-temp-h, .min-max-temp-d {
        grid-row: 3 / 5;
    }
    .min-max-temp-h {
        grid-column: 1 / 3;
    }
    .min-max-temp-d {
        grid-column: 3 / 5;
    }

    

    .humidity-h, .humidity-d, .pressure-h, .pressure-d {
        grid-row: 5 / 6;
    }
    .humidity-h {
        grid-column: 1 / 3;
    }
    .humidity-d {
        grid-column: 3 / 5;
    }
    .pressure-h {
        grid-column: 5 / 7;
    }
    .pressure-d {
        grid-column: 7 / 9;
    }

    .wind-h, .wind-d, .clouds-h, .clouds-d {
        grid-row: 6 / 7;
    }
    .wind-h {
        grid-column: 1 / 3;
    }
    .wind-d {
        grid-column: 3 / 5;
    }
    .clouds-h {
        grid-column: 5 / 7;
    }
    .clouds-d {
        grid-column: 7 / 9;
    }

    .current-w-d {
        text-transform: capitalize;
        grid-column: 3 / 5;
    }
  }


  